.login-btn{
    background-color: $bootstrap-dark-color;
    color:  #e8f8b3;
    border-radius: 15px;
    font-weight: bold;
    &:hover{
        border-radius: 15px;
      font-size: 1rem;
      font-weight:bold;
      border:2px solid $green-color;
      color: $dark-purple-color;
      background-color: $green-color;
      }&:first-child:active{
        border-radius: 15px;
      font-size: 1rem;
      font-weight:bold;
      border:2px solid $green-color;
      color: $dark-purple-color;
      background-color: $green-color;
      }
}
.user-btn, .signin-btn{
    border-radius: 15px;
    font-size: 1rem;
    font-weight:bold;
    border:2px solid $green-color;
    color: #e8f8b3;
    background-color: $bootstrap-dark-color;
    
    &:hover{
      border-radius: 15px;
    font-size: 1rem;
    font-weight:bold;
    border:2px solid $green-color;
    color: $dark-purple-color;
    background-color: $green-color;
    }&:first-child:active{
      border-radius: 15px;
    font-size: 1rem;
    font-weight:bold;
    border:2px solid $green-color;
    color: $dark-purple-color;
    background-color: $green-color;
    }
  }

  .interest-btn{
    border-radius: 10px;
    background-color: $purple-color;
    color: whitesmoke;
    cursor: pointer;
    width: 120px;
   font-size: .8rem;
   font-weight: bold;
   padding:7px;
  }

  .refresh-jobs-btn, .sort-btn, .filter-btn{
    &:hover{
      color:gray;
    }
  }
  .google-btn{
    height:50px;
    width: auto;
    &:hover{
      cursor: pointer;
    }
  }
  .login-btns{
    width:220px;
  }
  .facebook-signin-btn,.google-signin-btn,.twitter-signin-btn,.apple-signin-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height:43px;
    width:210px;
    border:none;
    -webkit-box-shadow: 0.2px 1px 2px 1px rgba(158,158,158,1);
    -moz-box-shadow: 0.2px 1px 2px 1px rgba(158,158,158,1);
    box-shadow: 0.2px 1px 2px 1px rgba(158,158,158,1);
    border-radius: 2px;
    font-size: .85rem;
    &:hover{
      cursor: pointer;
    }
  }
  .facebook-signin-btn{
    background-color: #4267B2;
    color: white;
  }
  .google-signin-btn{
    background-color: #FFFFFF;
  }
  .twitter-signin-btn{
    background-color: #00acee;
    color: white;
  }
  .apple-signin-btn{
    background-color: black;
    color: white;
  }