div.job-card{
    height: 8rem;
    z-index: 1;
    overflow: hidden;
  
  

}
.job-card-body{
  color: black;
    border-radius: 0px 8px 8px 0px;
    height: 8rem;
    padding-top: 20px;
  }
  .job-item-info-bubble{
    background-color: rgba(194, 190, 246, 0.1);
    border-radius: 10px;
  }

img.job-img{
  z-index: -99;
  overflow: hidden;
}
  .job-card-link{
    text-decoration: none;
    color: black;
    z-index: 1;
    &:hover{
        color: rgb(99, 99, 99);
    }
  }
.card-text{
  color: rgb(99, 99, 99);
}
  .like{
    z-index: 3;
  }

  .park-logo1, .park-logo2{
    max-width: 150px;
    height: auto;
  }
  .card-title{
    font-size: 1.1rem;
    font-weight: bold;
    height: 30px;
    overflow: hidden;
  white-space: nowrap;
  margin:1px;
  color: rgb(86, 87, 117);
  }
  .card-text{
    font-size:.9rem;
    margin-bottom: 7px;
  }
