
.map-body{
    min-width: 600px;
  }
  .map-body-jobview{
    height:30vh;
  }
  .map-scroll{
    width: 45%;
    height:'90vh';
    
    -webkit-box-shadow: -11px -2px 14px 0px rgba(204,204,204,1);
  -moz-box-shadow: -11px -2px 14px 0px rgba(204,204,204,1);
  box-shadow: -11px -2px 14px 0px rgba(204,204,204,1);
   
  }

  .map-1 >.mapboxgl-canvas{
    height: 60vh;
    width: 40vw;
   
  }
  .map-2 > .mapboxgl-canvas{
    height: 30vh;
    width: 60vw;
    
    
  }
  .mapdiv{
    height:100vh;
     
  }
  .map-body{
    height:100vh;
  }
.popover-img{
  height: 20px;
  width: auto;
}
  @media screen and (max-width: 900px) {
    div.map-scroll{
    visibility: hidden;
    display: none;
    }
  } 
  .map-popover{
   background-color: aliceblue;
   box-shadow: 16px 10px 32px -79px rgba(0,0,0,0.75) inset;
   -webkit-box-shadow: 16px 10px 32px -79px rgba(0,0,0,0.75) inset;
   -moz-box-shadow: 16px 10px 32px -79px rgba(0,0,0,0.75) inset;
  } 