$green-color: #c3db74;
$purple-color: #745cac;
$dark-purple-color: #52417b;
$teal-color: #74DBBF;
$dark-green-color: #217961;
$pink-color: #d6a2af;
$font-poppins:'Poppins', sans-serif;
$bootstrap-dark-color: #292b2c;
