@media only screen and (max-width: 600px) {
  div.accordion.faq-accordion {
    margin: 0%;
    background-color: red;
  }
}
div.job-card {
  width: 24rem;
  height: 8rem;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-card-body {
  color: rgb(86, 87, 117);
  border-radius: 0px 8px 8px 0px;
  height: 110%;
  padding-top: 20px;
}

.wage-bubble, .location-bubble {
  font-size: 0.8rem;
  font-weight: bold;
}

img.job-img {
  z-index: -99;
  overflow: hidden;
  height: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.job-card-link {
  text-decoration: none;
  color: rgba(86, 87, 117, 0.8);
  z-index: 1;
}
.job-card-link:hover {
  color: rgba(86, 87, 117, 0.9);
}

.card-text {
  color: rgba(86, 87, 117, 0.8);
}

.like {
  z-index: 3;
}

.park-logo1, .park-logo2 {
  max-width: 150px;
  height: auto;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  margin: 1px;
  color: rgba(86, 87, 117, 0.8);
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 7px;
}

@media only screen and (max-width: 417px) {
  div.job-card {
    flex-direction: column;
    height: 35vh;
    width: 60vw;
  }
  .job-img-div {
    height: 15vh;
    padding-top: 10px;
  }
  .job-img {
    overflow: hidden;
    -o-object-fit: contain;
       object-fit: contain;
    height: 13vh;
  }
}
.map-body {
  min-width: 600px;
}

.map-body-jobview {
  height: 30vh;
}

.map-scroll {
  width: 45%;
  height: "90vh";
  box-shadow: -11px -2px 14px 0px rgb(204, 204, 204);
}

.map-1 > .mapboxgl-canvas {
  height: 60vh;
  width: 40vw;
}

.map-2 > .mapboxgl-canvas {
  height: 30vh;
  width: 60vw;
}

.mapdiv {
  height: 100vh;
}

.map-body {
  height: 100vh;
}

.popover-img {
  height: 20px;
  width: auto;
}

@media screen and (max-width: 900px) {
  div.map-scroll {
    visibility: hidden;
    display: none;
  }
}
.map-popover {
  background-color: aliceblue;
  box-shadow: 16px 10px 32px -79px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 16px 10px 32px -79px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 16px 10px 32px -79px rgba(0, 0, 0, 0.75) inset;
}

.login-btn {
  background-color: #292b2c;
  color: #e8f8b3;
  border-radius: 15px;
  font-weight: bold;
}
.login-btn:hover {
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #c3db74;
  color: #52417b;
  background-color: #c3db74;
}
.login-btn:first-child:active {
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #c3db74;
  color: #52417b;
  background-color: #c3db74;
}

.user-btn, .signin-btn {
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #c3db74;
  color: #e8f8b3;
  background-color: #292b2c;
}
.user-btn:hover, .signin-btn:hover {
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #c3db74;
  color: #52417b;
  background-color: #c3db74;
}
.user-btn:first-child:active, .signin-btn:first-child:active {
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #c3db74;
  color: #52417b;
  background-color: #c3db74;
}

.interest-btn {
  border-radius: 10px;
  background-color: #745cac;
  color: whitesmoke;
  cursor: pointer;
  width: 120px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 7px;
}

.refresh-jobs-btn:hover, .sort-btn:hover, .filter-btn:hover {
  color: gray;
}

.google-btn {
  height: 50px;
  width: auto;
}
.google-btn:hover {
  cursor: pointer;
}

.login-btns {
  width: 220px;
}

.facebook-signin-btn, .google-signin-btn, .twitter-signin-btn, .apple-signin-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 43px;
  width: 210px;
  border: none;
  box-shadow: 0.2px 1px 2px 1px rgb(158, 158, 158);
  border-radius: 2px;
  font-size: 0.85rem;
}
.facebook-signin-btn:hover, .google-signin-btn:hover, .twitter-signin-btn:hover, .apple-signin-btn:hover {
  cursor: pointer;
}

.facebook-signin-btn {
  background-color: #4267B2;
  color: white;
}

.google-signin-btn {
  background-color: #FFFFFF;
}

.twitter-signin-btn {
  background-color: #00acee;
  color: white;
}

.apple-signin-btn {
  background-color: black;
  color: white;
}

.advice-container {
  height: 100vh;
}

.ask-a-question-container {
  height: 100vh;
}

* {
  font-family: "Poppins", sans-serif;
}

.page-container, .App {
  position: relative;
  min-height: 100vh;
  background-color: #fafafa;
}
.page-container .jobview, .App .jobview {
  margin: 0vh 2vw;
}

.about-container {
  position: relative;
  min-height: 100vh;
  background-color: #fafafa;
  z-index: 1;
}

.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  margin: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.faq-body {
  background-color: rgba(136, 81, 255, 0.2);
}

.faq-header {
  text-align: center;
  padding: 3rem;
  border-radius: 0px 0px 158px 69px;
  -moz-border-radius: 0px 0px 158px 69px;
  -webkit-border-radius: 0px 0px 158px 69px;
  border: 0px solid #000000;
  color: #217961;
}

.job-filter-bar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0;
  margin: 2vh 0vh;
}

div.accordion.faq-accordion {
  margin: 0% 20% 10% 20%;
  font-size: 1rem;
}

.faq-accordion-header {
  font-size: 1.2rem;
}

.accordion-container {
  padding-top: 8%;
  background-color: white;
  border-radius: 127px 200px 0px 0px;
  -moz-border-radius: 127px 200px 0px 0px;
  -webkit-border-radius: 127px 200px 0px 0px;
  border: 0px solid #000000;
}

.button.accordion-button:focus {
  border: none;
  background-color: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff;
  background-color: white;
  outline: 0 !important;
  /* I changed the color on this line */
  /* If you do not want any color, just delete */
}

.accordion-button:not(.collapsed) {
  color: #292b2c;
  background-color: #fafafa;
}

.profile-container {
  min-height: 100vh;
  background-color: #fafafa;
  z-index: -2;
}

a.nav-link {
  padding-bottom: 0;
}

a.navbar-brand {
  padding-top: 0;
}

.filter-btn, .sort-btn {
  text-decoration: none;
  color: black;
}

.list-btn:focus, .map-btn:focus {
  background-color: #000000;
  color: white;
}

div.user-dropdown.dropdown-menu.show {
  background-color: #292b2c;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
div.user-dropdown.dropdown-menu.show a {
  text-decoration: none;
  color: #e8f8b3;
  margin: 5px;
  font-weight: bold;
}
div.user-dropdown.dropdown-menu.show a:hover {
  color: #a8b57f;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "about-founder about-founder" "about-img-left about-info-boxes";
}

.about-founder {
  grid-area: about-founder;
  text-align: center;
  padding: 0 25%;
}

.about-img-left {
  grid-area: about-img-left;
  padding-left: 10%;
  background-color: #f5e9fc;
  padding-top: 30px;
}

.about-info-boxes {
  grid-area: about-info-boxes;
  padding: 0 7%;
  background-color: #f5e9fc;
  padding-top: 30px;
}

.sara-headshot {
  height: 100px;
  width: 100px;
  border-radius: 70px;
}

.about-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-1, .box-2, .box-3, .box-4 {
  margin: 1.5rem;
  width: 100%;
  max-width: 18rem;
  height: auto;
  border: none;
  background-color: #f8effd;
}

a.nav-link.profile-tab {
  font-size: 1rem;
  color: rgb(62, 62, 62);
  border: none;
  border-radius: 0px;
}

a.nav-link.active.profile-tab {
  color: #745cac;
  background-color: #fafafa;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 50vw;
  margin: auto;
  grid-template-areas: "icon-div1 icon-div2 icon-div3 icon-div4 icon-div5 icon-div6 icon-div7";
}

.icon-div1 {
  grid-area: icon-div1;
}

.icon-div2 {
  grid-area: icon-div2;
}

.icon-div3 {
  grid-area: icon-div3;
}

.icon-div4 {
  grid-area: icon-div4;
}

.icon-div5 {
  grid-area: icon-div5;
}

.icon-div6 {
  grid-area: icon-div6;
}

.icon-div7 {
  grid-area: icon-div7;
}

.job-icon {
  border: 4px solid #745cac;
  width: 3rem;
  height: 3rem;
  padding: 5px;
  border-radius: 50px;
}
.job-icon:hover {
  width: 3.2rem;
  height: 3.2rem;
}

.job-icon-text {
  font-size: 0.65rem;
  width: 3rem;
  margin: auto;
}

.job-icon-div {
  width: 5rem;
}

.job-info-header-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.terms-container, .privacy-container {
  box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.26);
  padding: 30px;
  margin: 4vh 4vw;
  min-height: 100vh;
}

.sidenav-div {
  padding: 0px;
  min-height: 100vh;
}

div.jobview-container {
  box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.26);
  padding: 5vh 5vw;
}

.jobview-map-container {
  height: 510px;
}

.responses-list {
  list-style: none;
}

.edit-btn {
  color: #99c700;
  text-decoration: underline;
  font-size: 1.2rem;
  display: inline-block;
}
.edit-btn:hover {
  color: #485e00;
}

.check-info-blurb {
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  border-radius: 20px;
}

.google-btn {
  height: 3rem;
}

.password-recovery-container {
  height: 38vh;
}

.password-recovery-form {
  width: 280px;
  border: 1px solid rgb(202, 202, 202);
  padding: 20px;
  border-radius: 5px;
}

.login-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.personal-settings-group2, .personal-settings-group3, .personal-settings-group4 {
  display: flex;
  flex-direction: row;
}

.quick-facts {
  display: flex;
  flex-direction: row;
}

.required label::after, .required-p::after {
  color: #e32;
  content: " *";
  display: inline;
  font-size: 1.2rem;
}

@media only screen and (min-width: 992px) {
  nav.navbar.navbar-expand-lg {
    height: 10vh;
  }
  .signup-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "signup-card signup-img";
    margin: 2rem 8rem;
    border-radius: 30px;
  }
  .signup-card {
    grid-area: signup-card;
  }
  .signup-img {
    grid-area: signup-img;
  }
  .signup-page-stock-photo {
    -o-object-fit: cover;
       object-fit: cover;
    height: 80vh;
    width: 40vw;
    border-radius: 0px 30px 30px 0px;
  }
}
@media only screen and (max-width: 992px) {
  div.accordion.faq-accordion {
    margin: 5% 5%;
  }
  div.collapse.show.navbar-collapse {
    text-align: center;
  }
  .signup-img {
    display: none;
  }
  .search-container {
    width: 90vw;
    margin: auto;
    overflow-x: scroll;
  }
  .signup-page-stock-photo {
    -o-object-fit: cover;
       object-fit: cover;
    height: 0vh;
    width: 0vw;
    visibility: hidden;
  }
}
@media only screen and (max-width: 880px) {
  .quick-facts {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1140px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "about-founder" "about-img-left" "about-info-boxes";
  }
  .about-founder {
    grid-area: about-founder;
  }
  .about-img-left {
    grid-area: about-img-left;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .about-info-boxes {
    grid-area: about-info-boxes;
    text-align: center;
  }
}
@media only screen and (max-width: 812px) {
  .personal-settings-group2, .personal-settings-group3, .personal-settings-group4 {
    flex-direction: column;
  }
  .accordion-container {
    padding-top: 8%;
    background-color: white;
    border-radius: 100px 110px 0px 0px;
    -moz-border-radius: 100px 110px 0px 0px;
    -webkit-border-radius: 100px 110px 0px 0px;
    border: 0px solid #000000;
  }
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: #745cac;
  border-color: #745cac;
  color: #fff;
}

.pagination > li > a {
  border: 1px solid #745cac;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #745cac;
  border-color: #745cac;
  outline: none;
}

.pagination > li > a, .pagination > li > span {
  color: #745cac;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: unset;
}/*# sourceMappingURL=styles.css.map */