
@import "./variables";
@import "./mediaquery";
@import "./jobItem";
@import "./maps";
@import "./buttons";

$accordion-button-active-bg:              
tint-color(#ffffff);
$accordion-button-active-color:           
shade-color(#ffffff);

$accordion-button-focus-border-color: #ffffff;
$accordion-button-focus-box-shadow: #ffffff;

*{
    font-family:$font-poppins;
}
.page-container, .App {
    position: relative;
    min-height: 100vh;
    background-color: #fafafa;
  
  }
  .about-container{
    position: relative;
    min-height: 100vh;
    background-color: #fafafa;
    z-index: 1;
  }
  
  .content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
  .faq-body{
    background-color: rgba(136, 81, 255, .2);
  }
 
  .faq-header{
    text-align: center;
    padding: 3rem;
    
    border-radius: 0px 0px 158px 69px;
    -moz-border-radius: 0px 0px 158px 69px;
    -webkit-border-radius: 0px 0px 158px 69px;
    border: 0px solid #000000;
    color: $dark-green-color;
  }

  
div.accordion.faq-accordion{
  margin: 0% 20% 10% 20% ;
  font-size: 1rem;
}
.faq-accordion-header{
  font-size: 1.2rem;
}
.accordion-container{
  padding-top: 8%;
  background-color: white;
  border-radius: 127px 200px 0px 0px;
  -moz-border-radius: 127px 200px 0px 0px;
  -webkit-border-radius: 127px 200px 0px 0px;
  border: 0px solid #000000;

}



.button.accordion-button{
  &:focus{
    border: none;
    background-color: none;
  }
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff;
  background-color: white;
  outline: 0!important;
  /* I changed the color on this line */
  /* If you do not want any color, just delete */
;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff;
  background-color: white;
  outline: 0!important;
  /* I changed the color on this line */
  /* If you do not want any color, just delete */
;
}


.profile-container{
  min-height: 100vh;
  background-color: #fafafa;
  z-index: -2;
}


a.nav-link{
  padding-bottom: 0;
}
a.navbar-brand{
  padding-top: 0;
}



.filter-btn, .sort-btn{
  text-decoration: none;
  color: black;
}
.list-btn, .map-btn{
  &:focus{
    background-color: #000000;
    color: white;
  }
}

div.user-dropdown.dropdown-menu.show{
  background-color: $bootstrap-dark-color;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  a{
    text-decoration: none;
    color:  #e8f8b3;
    margin: 5px;
    font-weight: bold;
    &:hover{
      color:  #a8b57f;

    }
  }
}


// .mapdiv{
//   height:100vh;
// }
// .map-body{
//   height:100vh;
// }
.about-container {  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about-founder about-founder"
    "about-img-left about-info-boxes";
}

.about-founder { 
  grid-area: about-founder; 
  text-align: center;
  padding: 0 25%;

}

.about-img-left { 
  grid-area: about-img-left; 
   padding-left: 10%;
   background-color: #f5e9fc;
   padding-top: 30px;
}

.about-info-boxes { 
  grid-area: about-info-boxes; 
  padding: 0 7%;
  background-color: #f5e9fc;
  padding-top: 30px;

}

.sara-headshot{
  height: 100px;
  width: 100px;
  border-radius: 70px;
}


.about-img{
  width: 100%;
  max-width: 500px;
  height: auto;
}
.boxes{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.box-1, .box-2, .box-3, .box-4{
  margin: 1.5rem;
  width: 100%;
  max-width: 18rem;
  height: auto;
  border: none;
  background-color: #f8effd;
}



a.nav-link.profile-tab{
  font-size: 1rem;
  color: rgb(62, 62, 62);
  border: none;
  border-radius: 0px;


}
a.nav-link.active.profile-tab{
    color: $purple-color;
    background-color: #fafafa;
}

// .map-body{
//   min-width: 600px;
// }

.job-icon{
  border: 4px solid $purple-color;
  width: 3rem;
  height: 3rem;
  padding: 5px;
  border-radius: 50px;
  &:hover{
    width:3.2rem;
    height:3.2rem;
  }
}
.job-icon-text{
  font-size:.65rem;
  width:3rem;
  margin: auto;
}
.job-icon-div {
  width: 5rem;
}


.sidenav-div{
  
  padding:0px;
  min-height: 100vh;
}
div.jobview-container{
  box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.26);
-webkit-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.26);
-moz-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.26);
  padding: 10px;
}
.jobview-map-container{
  height: 510px;
}

.responses-list{
  list-style: none;
}
.edit-btn{
  color: #99c700;
  text-decoration: underline;
  font-size: 1.2rem;
  display: inline-block;
  &:hover{
    color: #485e00;
  }
}
.check-info-blurb{
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  border-radius: 20px;
}
.google-btn{
  height: 3rem;
}
.password-recovery-container{
  height: 38vh;
}
.password-recovery-form{
  width: 280px;
  border: 1px solid rgb(202, 202, 202);
  padding: 20px;
  border-radius: 5px;
  
}
.login-card{
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 5vh;
  padding: 3vh 5vw 3vh 5vw;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.personal-settings-group2, .personal-settings-group3, .personal-settings-group4{
  display: flex;
  flex-direction: row;
  
}
.quick-facts{
   display: flex;
   flex-direction: row; 
}
@media only screen and (min-width: 992px) {

  nav.navbar.navbar-expand-lg{
height:10vh;
}

}
@media only screen and (max-width: 992px) {
div.accordion.faq-accordion{
   margin:5% 5%;
 }
 div.collapse.show.navbar-collapse{
   text-align: center;
 }

}
@media only screen and (max-width: 880px) {
  .quick-facts{
    flex-wrap: wrap;
  }
  
  }
@media only screen and (max-width: 1140px) {
  .about-container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "about-founder"
      "about-img-left"
      "about-info-boxes";
  }
  .about-founder { grid-area: about-founder; }
  .about-img-left { grid-area: about-img-left; padding-left: 0; display: flex; justify-content: center;}
  .about-info-boxes { grid-area: about-info-boxes; text-align: center;}
  
}
@media only screen and (max-width: 812px) {
  .personal-settings-group2, .personal-settings-group3, .personal-settings-group4{
    flex-direction: column;
  }
 
}
